<!-- <footer class="footer bg-dark rounded-top text-center">
  <div class="container py-2">
    <p class="text-white my-2">
      &copy; {{ autor.nombre + ' ' + autor.apellido}}
    </p>
  </div>
</footer> -->


<!-- Footer -->
<footer class="footer page-footer font-small bg-dark text-light rounded-top">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; {{ autor.nombre + ' ' + autor.apellido}}
        <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->